* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

.content {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}
@keyframes bounce{
	0%   { transform: translate(-50%,0); }
	50%  { transform: translate(-50%,-40px); }
	100% { transform: translate(-50%,0); }
}

body.loading .logo {
	display: block;
}
body.loading video {
	opacity: 0;
}

body.loading .card {
	opacity: 0;
	transform: translate(-50%, -30%);
	transition-delay: 5s;
}

.logo {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: bounce;
	animation-timing-function: ease;
}

video{
	position: absolute;
	opacity: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	perspective: 200vh;
	transform: translateZ(-15vw);
	transition: all 0.5s ease-in-out;
}
.card {
	position: absolute;
	opacity: 1;
	z-index: 10;
	top: 50%;
	left: 50%;
	height: 0;
	width: 50vw;
	transform: translate(-50%, -50%);
	transform-style: preserve-3d;
	perspective: 200vh;
	transition: 0.5s;
	padding-top: 29.8%;
	transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

  


.card-content {
	border-radius: 4vh;
	box-shadow: 8px 8px 16px rgba(0,0,0,0.3);
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	display: flex;
	transition: all 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.card-back {
	background-image: url("./img/back.png");
	transform: rotateX(-180deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

}
.card-front {
	background-image: url("./img/front.png");
	transform: rotateX(0deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

}
.card.active .card-front,
.card:hover .card-front,
.card:active .card-front {
	transform: rotateX(180deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

}
.card.active .card-back,
.card:hover .card-back,
.card:active .card-back {
	transform: rotateX(0deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}


@media screen and (max-width: 800px) {
	.card {
		width: 90vw;
		padding-top: 53.8%;
	}

	.card-content {
		border-radius: 1rem;
	}	
  }
